# Snippet for for loop
snippet for "Create for loop" 
for ($1; $2; $3) {
	$0
}
endsnippet

# Snippet for struct
snippet struct "Create struct"
struct $1 {
	$0
};
endsnippet

# Snippet for function
snippet func "Create function"
$1 $2($3) {
	$0

}
endsnippet
